@font-face {
font-family:"oswald";
src:url("/fonts/oswald.ttf") format("opentype");
font-display:swap;font-style:normal;
}

@font-face {
font-family:"garamond";
src:url("/fonts/garamond.ttf") format("opentype");
font-display:swap;font-style:normal;
}

@font-face {
font-family:"garamond";
src:url("/fonts/garamond-italic.ttf") format("opentype");
font-display:swap;font-style:italic;
}
