@font-face {
font-family:"josefin-sans";
src:url("/fonts/josefin-sans.ttf") format("opentype");
font-display:swap;font-style:normal;
}

@font-face {
font-family:"garamond";
src:url("/fonts/garamond.ttf") format("opentype");
font-display:swap;font-style:normal;
}
