.location {
	border-top: solid var( --color-light ) 1px;
	padding: 6.0em 0 6.0em 0;
}

.location h2 {
	margin-bottom: 3em;
	font-family: josefin-sans, Helvetica, sans-serif;
	font-size: 1.125em;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.neighborhoods {
	margin: 1.333333333em 0;
	font-family: josefin-sans, Helvetica, sans-serif;
	font-size: 0.75em;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
}

h2 a {
	display: inline-block;
	margin-bottom: 0.25em;
	padding: 0.75em 1.75em 0.5em 1.75em;
	border: solid var( --color-dark ) 2px;
	color: var( --color-dark );
	text-decoration: none;
	background-color: white; /* https://developer.mozilla.org/en-US/docs/Web/CSS/Privacy_and_the_:visited_selector */
}

h2 a:hover, h2 a:visited, h2 a:active {
	color: white;
	background-color: var( --color-dark );
}

em {
	font-style: normal;
	text-decoration: underline var( --color-light );
}

.emoji {
	display: block;
	margin-top: 1.0em;
	text-align: center;
}
