<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ site.title }}</title>

	<meta name="description" content="{{ site.description }}">
	<meta property="og:url" content="{{ site.url }}">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ site.title }}">
	<meta property="og:description" content="{{ site.description }}">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="{{ site.title }}">
	<meta name="twitter:description" content="{{ site.description }}">

	{% set css %}
		{% include "css/index.css" %}
		{% include "css/header.css" %}
		{% include "css/location.css" %}
	{% endset -%}
	<style>{{ css | cssmin | safe }}</style>
</head>
<body>
	<header>
		<h1>{{ site.title }}</h1>
		<p>{{ site.description }}</p>
	</header>

	<main>
		<div class="locations">
			{%- for location in collections.locations | slice( 0 ) -%}
				{% include "location.njk" %}
			{%- endfor -%}
		</div>
	</main>

	<footer>
		<a href="https://github.com/ashur/pdx">View Source</a>
	</footer>
	{% set css %}
		{% include "css/fonts.css" %}
		{% include "css/footer.css" %}
	{% endset %}
	<style>{{ css | cssmin | safe }}</style>
	<script>
	(function(){
		function render( locations )
		{
			let content = "";
			locations.forEach( function( location )
			{
				content += `<div class="location">
					<h2><a href="${location.url}">${location.title}</a></h2>
					${location.content}
					<p class="neighborhoods">${location.neighborhoods.join( ", " )}</p>
					<span class="emoji" role="img" aria label="${location.emoji.label}">${location.emoji.character}</span></div>`
			});

			document.querySelector( ".locations" ).innerHTML = content;
		}

		fetch( "/data.json" )
			.then( function( res )
			{
				return res.json()
			})
			.then( function( json )
			{
				render( json );
			});
	})();
	</script>
</body>
</html>
